<%- include('../partials/header') %>

<h1>Welcome to the Community Portal</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea aspernatur, accusamus asperiores labore voluptatem architecto voluptates necessitatibus atque dolorem, doloribus pariatur autem exercitationem delectus ullam suscipit aliquid rem porro dolore.</p>

<%- include('../partials/footer') %>