<%- include('../partials/header') %>

<main class="container my-5">
  <div class="container text-center mt-5">
    <h1 class="display-4 text-success">Thank You!</h1>
    <p class="lead">Your message has been received. We will get back to you shortly.</p>
    <a href="/" class="btn btn-primary btn-lg mt-4">Continue</a>
  </div>
</main>

<%- include('../partials/footer') %>
